body{
	background-color: solid lightgray;
}

.contenido{
	height: 900px;
	width: 1100px;
	border: solid green;
	 padding: 20px;
}

.titulo{
	background-color: lightgray;
	border: solid black;
	 padding: 10px;
	width: 1070px;
}

.cajavacia{
 border: solid black;
	 padding: 10px;
 width: 1070px;
 height: 700px;
 float: left;



}


.caja2{
	background-color: yellow;
	border: solid black;
	height: 300px;
	width: 400px;
	position: absolute;
	left: 8%;
	top: 22%;

}

.libro{
	position: absolute;
	height: 300px;
 width: 100px;
 float: left;
 top: 19.7%;


}

.content2{
	float: right;
	background-color: solid ray;
	width: 1030px;

}



.caja3{
	background-color: orange;
	border: solid black;
	height: 20px;
	width: 460px;
	float: right;
	position: absolute;
	top: 35%;
	left: 35.2%;
}

.caja4{
	background-color: solid lightgray;
	border: solid red;
	 margin: 20px;
	height: 310px;
	width: 450px;
	padding: 10px;
	float: right;
	position: absolute;
	top: 40%;
	left: 33.6%;
}
.img{
	height: 300px;
	width: 400px;
	float: left;
}

.imagen2{
	height: 320px;
	width: 460px;
}